{% extends "base.html" %}

{% block content %}
<div class="row-fluid">

	<div class="span4"> 
	  <h2>Logan</h2>
	  <iframe width="275" height="275" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=pinnacle+title,+logan+utah&amp;aq=&amp;sll=35.170517,-79.860994&amp;sspn=6.787117,14.106445&amp;ie=UTF8&amp;hq=pinnacle+title,&amp;hnear=Logan,+Cache,+Utah&amp;t=m&amp;cid=4299852661373057208&amp;ll=41.733981,-111.835155&amp;spn=0.019215,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
	  
	  <p><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=pinnacle+title,+logan+utah&amp;aq=&amp;sll=35.170517,-79.860994&amp;sspn=6.787117,14.106445&amp;ie=UTF8&amp;hq=pinnacle+title,&amp;hnear=Logan,+Cache,+Utah&amp;t=m&amp;cid=4299852661373057208&amp;ll=41.733981,-111.835155&amp;spn=0.019215,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></p>
	</div> 

    <div class="span4">
      <h2>Salt Lake City</h2>
      <iframe width="275" height="275" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=5292+South+College+Drive+%23104+salt+lake+city&amp;aq=&amp;sll=41.734365,-111.835134&amp;sspn=0.012105,0.027552&amp;ie=UTF8&amp;hq=&amp;hnear=5292+College+Dr+%23104,+Murray,+Utah+84123&amp;t=m&amp;ll=40.655053,-111.905451&amp;spn=0.019535,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
	  
      <p><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5292+South+College+Drive+%23104+salt+lake+city&amp;aq=&amp;sll=41.734365,-111.835134&amp;sspn=0.012105,0.027552&amp;ie=UTF8&amp;hq=&amp;hnear=5292+College+Dr+%23104,+Murray,+Utah+84123&amp;t=m&amp;ll=40.655053,-111.905451&amp;spn=0.019535,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></p>
	</div> 

	<div class="span4">
       <h2>Clearfield</h2>
	    <iframe width="275" height="275" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1436+South+Legend+Hills+Drive+%23323+clearfield&amp;aq=&amp;sll=40.655072,-111.905464&amp;sspn=0.012307,0.027552&amp;ie=UTF8&amp;hq=&amp;hnear=1436+Legend+Hills+Dr+%23323,+Clearfield,+Utah+84015&amp;t=m&amp;ll=41.093519,-111.993084&amp;spn=0.019406,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
	    
        <p><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1436+South+Legend+Hills+Drive+%23323+clearfield&amp;aq=&amp;sll=40.655072,-111.905464&amp;sspn=0.012307,0.027552&amp;ie=UTF8&amp;hq=&amp;hnear=1436+Legend+Hills+Dr+%23323,+Clearfield,+Utah+84015&amp;t=m&amp;ll=41.093519,-111.993084&amp;spn=0.019406,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></p>
	</div>
</div>

{% endblock content %}




			








