<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinnacle Title</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}" media="screen" />
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>

      


<div class="container">
	  <div class="row-fluid">
        <div class="span3">
	      	<a href="{{ url_for("index") }}"><img src="{{ url_for('static', filename='images/PTCBlue150.jpg') }}" alt="Pinnacle Title" /></a>
		</div>
        <div class="span9">
			<p class="lead">Full range of real estate closing services, including title insurance, escrow, and more.</p>
			<p><em>Serving Northern Utah since 1703</em></p>        
		</div>

	  </div>
      <div class="masthead">

        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
				{% for page in nav %}
					<li>
						<a href="{{ url_for("page", slug=page.slug) }}">{{ page.title }}</a>
					</li>
				{% endfor %}
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->    
		
	</div>
    <div id="content">
		{% block content %}
			<p>Default content to be displayed</p>
		{% endblock content %}
	</div>
      <div id="footer">
        <p>&copy; Pinnacle Title 2013</p>
      </div>

    </div> <!-- /container -->

<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ url_for('static', filename='css/bootstrap/js/bootstrap.min.js') }}"></script>
{% block extra_js %}
{% endblock extra_js %}
</body>
</html>

